/*Общий блок*/
.movies-container {
    /* width: 100%; */
    max-width: 100%;
    /* max-width: 1280px; */
    /* padding: 70px 70px 30px 70px; */
    padding: 64px 70px 30px 70px;
}

/*Блок с фильмами*/
.movies-list {
    margin-top: 0; /*Добавила*/
    margin-bottom: 0; /*Добавила*/
    padding: 0;
    display: grid;
    /* grid-row-gap: 30px; */
    grid-row-gap: 27px;
    grid-column-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    /* row-gap: 30px; */
}

/*Кнопка*/
.movies-list__button {
    width: 320px;
    height: 36px;
    /* margin: 50px auto 80px; */
    /* margin: 80px auto 46px; */
    margin: 80px auto 0px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    outline: none;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    cursor: pointer;
}

.movies-list__button:hover {
    opacity: 0.3;
}

@media screen and (max-width: 1030px) {
    .movies-container {
        max-width: 1030px;
  	}

    .movies-list {
        grid-row-gap: 36px;
        grid-column-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .movies-container {
        max-width: 768px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .movies-list {
        grid-row-gap: 30px; /*Добавила*/
    }
}

@media screen and (max-width: 720px) {
    .movies-container {
        max-width: 720px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .movies-list {
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width: 583px) {
    .movies-container{
        max-width: 583px;
        padding-left: 100px;
        padding-right: 100px;
    }
} 

@media screen and (max-width: 425px) {
    .movies-container{
        max-width: 425px;
        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .movies-list {
        grid-auto-rows: 237px;
        row-gap: 16px;
    }

    .movies-list__button {
        width: 240px;
        /*margin-bottom: 50px; Добавила*/
    }
}