/*Основной блок*/
.movies {
	margin-bottom: 132px;
}

/*Кнопка*/
.movies-list__button {
    width: 320px;
    height: 36px;
    margin: 80px auto 0px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    outline: none;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    cursor: pointer;
}

.movies-list__button:hover {
    opacity: 0.3;
}

@media screen and (max-width: 1023px) {
    .movies {
        margin-bottom: 230px;
    } 
}

@media screen and (max-width: 576px) {
    .movies {
        margin-bottom: 130px;
    }

    .movies-list__button {
        width: 240px;
    }
}