/*Основная страница*/
.profile {
  max-width: 410px;
  margin: 47px auto 70px auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/*Заголовок*/
.profile__title {
  margin: 0;
  padding: 0;
  margin-bottom: 123px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

/*Форма*/
.profile__form {
  width: 100%;	
  display: flex;
  flex-direction: column;
}

/*Поле для инпутов и ошибок(если будут нужны)*/
.profile__field {
  margin: 0;
  padding: 0;
  min-height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  box-sizing: border-box;
  border: none;
}

/*Поле input*/
.profile__input {
  margin: 0;
  padding: 0;
  width: 350px;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  outline: none;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

.profile__input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #000000;
}

/*Ошибка*/
.profile__error {
  width: 350px;
  margin: 0;
  padding: 0;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #FF0000;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  outline: none;
  box-sizing: border-box;
  border: none;
}

/*Линия разделения между полями input*/
.profile__line {
  margin-top: 17px;
  margin-bottom: 17px;
  border-bottom: 1px solid #e8e8e8;
}

/*Ошибка формы*/
.profile__server-error {
  min-height: 11px;
  margin: 0;
  margin-top: 43px;
  color: #FF0000;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

/*Контейнер с кнопками*/
.profile__buttons {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/*Общий стиль кнопок*/
.profile__button {
  background-color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.profile__button:hover {
  opacity: 0.3;
}

/*Кнопка "Редактировать"*/
.profile__button_type_edit {
  margin-top: 162px;
  padding-bottom: 0;
  color: #000;
}

/*Кнопка "Выйти из аккаунта"*/
.profile__button_type_logout {
  margin-top: 0;
  color: #ff4062;
  background-color: #ffffff;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  border: none;
  cursor: pointer;
}

.profile__button_type_logout:hover {
  color: rgba(255, 64, 98, 0.3);
}

/*Кнопка "Сохранить"*/
.profile__submit-button {
  max-width: 100%;
  height: 45px;
  margin-top: auto;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.profile__submit-button:hover {
  opacity: 0.8;
}

.profile__submit-button:disabled {
  color: #000000;
  pointer-events: none;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  opacity: 0.2;
}

@media screen and (max-width: 1023px) {
  .profile {
    padding-top: 236px;
    padding-bottom: 269px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__button_type_edit {
    margin-top: 80px;
  }

  .profile__button_type_logout {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    margin-top: 233px;
    padding-top: 0;
  }
  
  .profile__line {
    margin-top: 17px;
  }

  .profile__button_type_edit {
    margin-top: 150px;
  }

}

@media screen and (max-width: 576px) {
  .profile {
    margin-top: 0;
    padding: 66px 30px 40px 30px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__field {
    flex-direction: row;
    justify-content: space-between;
  }

  .profile__input {
    width: 150px;
    align-self: flex-end;
  }

  .profile__error {
    width: 150px;
    align-self: flex-end;
  }

  .profile__server-error {
    margin-top: 35px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__button_type_edit {
    margin-top: 326px;

  }

  .profile__submit-button {
    font-size: 12px;
    line-height: 15px; 
  }
}