* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.page {
  max-width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.page__container {  
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
/*Расширение от 1024px до 1280px*/  
@media screen and (max-width: 1024px) {
  .page__container {
      max-width: 1024px;
  }
}

/*Расширение от 768px до 1024px*/
@media screen and (max-width: 768px) {
  .page__container {
      max-width: 768px;
  }
}
/*Расширение от 320px до 768px*/ 
@media screen and (max-width: 320px) {
  .page__container {
      max-width: 320px;
  }
}
