/*На расширениях меньше 1024px блок скрыт*/
.navigation {
    display: none;
}

/*Вид блока на расширениях меньше 1023px и 576px*/
@media screen and (max-width: 1023px) {

    /*Общий блок*/
    .navigation {
        width: 100%;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 42;
    }

    /*Прозрачный блок с левой стороны*/
    .navigation__block {
        flex: 1 1 auto;
    }

    /*Основной блок с меню*/
    .navigation__container {
        margin: 0;
        padding: 159px 90px 90px 90px; /*попробовать поменять на margin*/
        width: 520px;
        min-height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        box-sizing: border-box;
    }

    /*Кнопка закрытия меню*/
    .navigation__close-button {
        width: 22px;
        height: 22px;
        padding: 0;
        position: absolute;
        top: 22px;
        right: 22px;
        background-image: url('../../images/logo/close.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .navigation__close-button {
        opacity: 0.6;
    }

    /*Меню навигации*/
    .navigation__menu {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }

    /*Ссылки в меню навигации*/
    .navigation__link {
        width: max-content;
        color: #000000;
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .navigation__link:hover {
        border-bottom: 4px solid #000;
    }
    
    /*Кнопка перехода в профайл*/
    .navigation__profile-button {
        width: 100px;
        height: 30px;
        background: #ffffff;
        border: none;
        box-sizing: border-box;
        cursor: pointer;
    }
    
    .navigation__profile-button:hover {
        opacity: 0.6;
    }
}

@media screen and (max-width: 576px) {
    .navigation__block {
        display: none;
    }

    .navigation__container { 
        margin: 0; 
        padding: 144px 10px 46px 10px; /*попробовать поменять на margin*/
        width: 100%;
    }
  
    .navigation__menu {
        gap: 15px;
    }
}