/*Весь блок form*/
.form {
    padding: 70px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 396px;
}

/*Логотип*/
.form__logo {
    width: 38px;
    height: 38px;
}
  
.form__logo:hover {
    cursor: pointer;
    opacity: 0.6;
}

/*Заголовок*/
.form__title {
    margin: 0;
    padding: 40px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

/*Контейнер с email и пароль*/
.form__container {
    display: flex;
    flex-direction: column;
    min-height: 380px;
    width: 100%;
}

/*Стили полей input*/
.form__field {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    position: relative;
    color: #a0a0a0;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

/*Поле input*/
.form__input {
    margin: 0;
    padding: 5px 0 10px 0;
    width: 100%;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid #e8e8e8;
}
  
.form__input:focus {
    border-bottom: 1px solid #000000;
}
  
.form__input_type_error {
    border-bottom-color: #ff0000;
}
  
.form__input_type_error:focus {
    border-bottom-color: #ff0000;
}

/*Поле ошибки span*/
.form__error {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    left: 0;
    color: #ff4062;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}
  
.form__error_active {
    visibility: visible;
}
  
/*Кнопка*/
.form__button {
    margin-top: auto;
    max-width: 100%;
    height: 45px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}
  
.form__button:hover {
    opacity: 0.8;
}
  
.form__button_inactive {
    color: #000000;
    pointer-events: none;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    opacity: 0.2;
}
  
.form__button_loading {
    pointer-events: none;
    opacity: 0.6;
}

/*Текст внизу страницы: "Ещё не зарегистрированы?" или "Уже зарегистрированы?"*/
.form__text {
    margin: 0;
    padding: 0;
    padding-top: 16px;
    color: #a0a0a0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

/*Ссылка внизу страницы: "Регистрация" или "Войти"*/
.form__link {
    padding-left: 6px;
    color: #000;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
  
.form__link:hover {
    color: #a0a0a0;
}
  

  
@media screen and (max-width: 1023px) {
    .form {
      padding-top: 232px;
      padding-bottom: 232px;
    }
}
  
@media screen and (max-width: 576px) {
    .form {
      padding: 56px 30px 30px 30px;
      align-items: center;
    }  
  
    .form__title {
      margin: 0;
      padding: 50px 0 80px 0;
      text-align: center;
    }
  
    .form__container {
      min-height: 468px;
    }
  
    .form__button {
      font-size: 12px;
      line-height: 15px; 
    }
  
    .form__text {
      padding-top: 14px;
      font-size: 12px;
      line-height: 15px;
    }
  
    .form__link {
      font-size: 12px;
      line-height: 15px;
    }
}