/*Основной блок*/
.footer {
    margin: 0px 70px 20px 70px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

/*Заголовок*/  
.footer__title {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    color: #a0a0a0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
}

/*Промежуточный контейнер для хранения ссылок и автора*/
.footer__container {
    margin-top: 20px;	
    display: flex;
}

/*Автор*/
.footer__author {
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

/*Ссылки*/
.footer__link {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
}
  
.footer__link:hover {
    color: #a0a0a0;
}
  
@media screen and (max-width: 1023px) {
    .footer {
        margin: 0px 30px 20px 30px;
    }
}
  
@media screen and (max-width: 576px) {
    .footer {
        margin: 0px 10px 10px 10px;
    }
  
    .footer__title {
        padding-bottom: 21px;
        font-size: 12px;
        line-height: 15px;
    }
  
    .footer__container {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }
  
    .footer__author {
        color: #a0a0a0;
        order: 3;
        font-size: 12px;
        line-height: 15px;
        margin-top: 18px;
    }
  
    .footer__link {
        margin-bottom: 12px;
        margin-left: 0px;
        font-size: 12px;
        line-height: 15px;
    }
}